/* Presets
   ========================================================================== */

body {
  background: url('../img/mountains.jpg') no-repeat center center fixed;
  font-family: $font-stack_default;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}
