/* Divider
   ========================================================================== */

.divider {
  max-width: 400px;
  border-color: #999999;
}

.divider--tagline {
  max-width: 250px;
  border-color: #999999;
  margin: 15px auto 3px;
}