/* Icon
   ========================================================================== */

.icon--lg {
  display: inline-block;
  margin-bottom: 20px;

  i {
    font-size: 85px;
    color: #000;
  }
}

.icon--xl {
  font-size: 12em;
}